# Server configuration
PORT=5000

# NOWPayments Store Settings (Retrieve from your NOWPayments.io Dashboard)
NOWPAYMENTS_API_KEY=YOUR_NOWPAYMENTS_API_KEY
NOWPAYMENTS_IPN_SECRET=YOUR_NOWPAYMENTS_IPN_SECRET

# CORS Configuration
FRONTEND_URL=http://localhost:5173
